@charset "UTF-8";


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: url('../imagens/SANTA-CEIA.jpg') no-repeat center center;
    background-size: cover;
    min-height: 230px;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.37);
    position: relative;
}

header::after{
    content: '';
    inset: 0;
    background: rgba(0, 0, 0, 0.466);
    position: absolute;
}


header h1{ 
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
    color: white;
    background-color: rgba(0, 0, 0, 0.432);
    margin: auto;
    display: block;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
}

header span{
    color: rgba(255, 0, 0, 0.699);
    text-shadow: 2px 2px 3px rgba(255, 0, 0, 0.658);
    display: inline-block;
}

header span:hover{
    transform: rotate(3deg) scale(2);
    transition: transform 0.5s ease;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}

body{
    background:rgba(105, 105, 105, 0.479);
    background-attachment: fixed;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
    overflow-x: hidden;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}




main{
    display: block;
    background-color: #fdf6e3;
    margin: 0px auto 30px auto;
    max-width: 740px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    transition: width 0.7s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
    padding-top: 10px;
}

section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.534);
    padding: 20px;
}

section p{
    text-align: center ;
    text-indent: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    line-height: 1.8rem;
    background-color: rgba(0, 0, 0, 0.178);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.452);
    width: 100%;
    flex-basis: 120px;
    border-radius: 5px;
}

section p:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
}


h1, h2, h3{
    animation: zoomIn 1.2s ease-in-out;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
    display: block;
    margin: auto;
    text-align: center;
}

@keyframes zoomIn{
    from{
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.reveal{
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.8s ease;
    
}
.reveal[data-dir="left"]{transform: translateX(-50px);}

.reveal[data-dir="right"]{transform: translateX(50px);}

.reveal.active{
    opacity: 1;
    transform: translateX(0);
}




@keyframes blink{
    from, to{border-color: transparent;}
    50%{border-color: black;}
}


section#testemunhos-bloco{
    max-width: 740px;
    background-color:  goldenrod;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

section#testemunhos-bloco h2{
    margin-bottom: 10px;
}


section label{
    padding: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

section input#nomeTestemunho{
    background-color:white;
    max-width: 300px;
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 200px;
}


button#btnEnviarTest{
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    font-size: 1.1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    margin-bottom: 10px;
    cursor: pointer;
}

button#btnEnviarTest:hover{
    transform: scale(1.1);
    background-color: rgba(255, 217, 0, 0.651);
    transition: transform 0.3s ease;
}

h3#testemunhoA{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 10px;
}


div#listaTestemunhos p{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
    border: 1px solid black;
}

p#oracao{
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    line-height: 1.4rem;
    background-color: rgba(245, 222, 179, 0.589);
    border: 2px dashed black;
    transition: width 0.8s ease;
    border-right:3px solid black;
    animation: blink 0.8s infinite;
}


p#oracao:hover{
    transform: translateY(-5px);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.562);
    transition: transform 0.5s ease;
    cursor: pointer;
}


.doacao {
    margin: 20px auto;
    padding: 15px;
    max-width: 500px;
    text-align: center;
    background: rgba(255, 217, 0, 0.582);
    border: 2px dashed goldenrod;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.doacao:hover {
    transform: scale(1.05);
}

div#relogio{
    background-color: rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.37);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.514);
    display: block;
    margin: 20px auto;
    max-width: 250px;
    color: white;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px dashed black;
}

div#relogio:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.466);
}

footer{
    background-color: wheat;
    text-align: center;
    height: 50px;
}

footer p {
    padding-top: 15px;
}

@media screen and (min-width: 800px) {
    header{
        background-size: contain, 15%;
        min-height: 350px;
    }

    header h1, header span{
        font-size: 2.5rem;
    }
    section h1{
        display: block;
    }

    section{
        flex-flow: row wrap;
    }

    section p{
        flex: auto;
        margin: 10px;
        font-size:1.1rem;
    }


    div#listaTestemunhos{
        width: 70%;
        margin: auto;
    }
}